# SPDX-FileCopyrightText: 2026 uniolo1
# SPDX-License-Identifier: GPL-3.0-only

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true

[*.rs]
indent_style = space
indent_size = 4
tab_width = 4

[*.slint]
indent_style = space
indent_size = 4
tab_width = 4
